@model MLMBioWill.Models.Master.DesignationViewModel
<script src="~/Scripts/Common/generic.common.methods.js"></script>
<script src="~/Scripts/Master/Designation/designation-methods.js"></script>
<script src="~/Scripts/Master/Designation/designation-validations.js"></script>
<script src="~/Scripts/Master/Designation/designation-events.js"></script>
<script src="~/Scripts/Common/generic.common.events.js"></script>
<div class="content-area p-y-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h4>Designation</h4>
                    <ol class="breadcrumb no-bg m-b-1">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Designation</a></li>
                        <li class="breadcrumb-item"><a href="#">Search</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="text-align: right; padding-top: 8px;">
                    <span data-toggle="tooltip" data-placement="left" title="" data-color="tooltip-info" data-original-title="Help / Info">
                        <a href="#" class="btn btn-info btn-circle waves-effect waves-light" data-toggle="modal" data-target=".help_info">
                            <i class="ti-info"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="card">
                <h5 class="card-header">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Designation Create
                </h5>
                <form role="form" id="frmDesignation">
                    <div class="card-block p-t-0 p-b-0">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="">Designation Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter designation name" name="DesignationInfo.DesignationName" id="txtDesignationName" maxlength="25">
                                    <input type="hidden" name="DesignationInfo.DesignationName" id="hdnDesignationName" value="">
                                    <span class="input-group-addon">
                                        <i class="fa fa-sort-alpha-asc"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="">Set Active</label>
                                <div class="input-group">
                                    <input class="js-switch" data-color="#1bc044" checked="" style="display: none;" data-switchery="true" value="true" name="DesignationInfo.Active" type="checkbox" id="Flag">
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="row" style="text-align: center;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" id="btnSearchDesignation" class="btn btn-purple btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-search"></i></span>Search</button>
                                <button type="button" id="btnSaveDesignation" class="btn btn-success btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-save"></i></span>Save</button>
                                <button type="reset" id="btnResetDesignation" class="btn btn-warning btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="submit-progress hidden">
                    <i class="fa fa-2x fa-spinner fa-spin"></i>
                    <label>Please wait while Saving Data...</label>
                </div>
                 
            </div>
            <div class="card">
                <h5 class="card-header">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Designation Listing
                </h5>
                <form role="form" id="frmSearchDesignation">
                    <input type="hidden" id="hdnSearchDesignationId" value="" name="Filter.Id" />
                    <div class="card-block p-t-0 p-b-0">
                        <div class="overflow-x-auto">
                            <table class="table m-b-0" id="tblDesignation" data-current-page=""></table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 

 
