<!-- Content -->

<script src="~/Scripts/Common/generic.common.events.js"></script>
<script src="~/Scripts/Common/generic.common.methods.js"></script>
<script src="~/Scripts/Master/Warehouse/warehouse-search-events.js?version=@DateTime.Now"></script>
<script src="~/Scripts/Master/Warehouse/warehouse-search-methods.js?version=@DateTime.Now"></script>


<div class="content-area p-y-1">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6">

                <h4>Warehouse Master</h4>
                <ol class="breadcrumb no-bg m-b-1">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Warehouse</a></li>
                    <li class="breadcrumb-item active">Search</li>
                </ol>


            </div>

            <div class="col-md-6">
                <div class="form-group" style="text-align: right; padding-top: 8px;">
                    <span data-toggle="tooltip" data-placement="left" title="" data-color="tooltip-info" data-original-title="Help / Info">
                        <a href="#" class="btn btn-info btn-circle waves-effect waves-light" data-toggle="modal" data-target=".help_info">
                            <i class="ti-info"></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>

        <form role="form" id="frmSearchWarehouse">
            <input type="hidden" id="hdnSearchWarehouseId" value="" name="WarehouseFilter.Id" />

            <div class="card">
                <h5 class="card-header">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-search"></i></span> &nbsp; Warehouse Search
                </h5>
                <div class="card-block p-t-0 p-b-0">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Warehouse Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Warehouse name to search" name="WarehouseFilter.WarehouseName" maxlength="50" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                            <label for="">Company Mobile No.</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="" placeholder="Enter mobile no. to search" name="Company.MobileNo" maxlength="11">
                                <span class="input-group-addon">
                                    <i class="fa fa-mobile"></i>
                                </span>
                            </div>
                        </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <br />
                                <button type="button" id="btnSearchWarehouse" class="btn btn-purple btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i class="ti-search"></i></span>Search</button>
                                <button type="reset" id="btnResetWarehouse" class="btn btn-warning btn-rounded label-left w-min-sm m-b-0-75 waves-effect waves-light"><span class="btn-label"><i clas s="ti-reload"></i></span>Reset</button>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </form>

        <div class="card">

            <h5 class="card-header">
                <span style="vertical-align: middle;" class="s-icon"><i class="ti-wand"></i></span> &nbsp; Warehouse Listing
            </h5>

            <input type="hidden" id="hdnSearchWarehouseId" value="WarehouseId" name="WarehouseFilter.Id" />

            <div class="card-block p-a-0">
                <div class="row m-a-0">
                    <div class="col-md-12 p-a-0">
                        <div class="btn-group" style="float: right; padding: 2px 6px;">
                            <a style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;" href="Index" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">Create</a>
                            <button type="button" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light" id="btnEditWarehouse">Edit</button>
                            <button type="button" style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light" id="btnViewContactDetails">View Contact Details</button>
                        </div>
                        <table class="table m-b-0" id="tblWarehouse" data-current-page=""></table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>




<div class="modal fade help_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    <span style="vertical-align: middle;" class="s-icon"><i class="ti-info-alt"></i></span> &nbsp; Help / Info
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled" style="padding-left: 5px;">
                            <li><i class="fa fa-circle-o text-info mr-0-5"></i> Company Search page is used to Search a Company based on the filters selected. eg. Company Name.</li>
                            <li>
                                <i class="fa fa-circle-o text-info mr-0-5"></i> Company Search page contains following functionality.
                                <ul class="list-unstyled mb-1" style="padding-left: 15px;">
                                    <li> <button type="button" class="btn btn-info label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-search"></i></span>Search</button> - On click of Search button, It displays the Companys listing based on the filters selected.</li>
                                    <li> <a class="btn btn-warning label-left m-b-0-25 waves-effect waves-light"><span class="btn-label"><i class="ti-reload"></i></span>Reset</a> - On click of Reset button, It resets the data to its Original values.</li>
                                    <li><a style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;" href="Index" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">Create</a> - On click of Create button, It Redirects to the Company Creation Page.</li>
                                    <li>
                                        <b>RadioButton</b>
                                        <label class="custom-control custom-radio">
                                            <input id="radio1" name="radio" type="radio" class="custom-control-input">
                                            <span class="custom-control-indicator"></span>
                                        </label>          - On Click Of Radio Button of Company Listing, Edit Button gets Enabled.
                                    </li>
                                    <li><a style="border-top-right-radius: 20px; border-bottom-right-radius: 20px;" href="#" class="btn btn-outline-info w-min-sm m-b-0-25 waves-effect waves-light">Edit</a> - On click of Edit button, It Redirect to the Edit Page of Company with all Company Data of specefic Radio Button selected. </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
